.contenedor1 {

    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.contenedor2 {
    background-image: url(imagenes/89c08597f103fb2418b9b5eaf58d74a9.jpg);
    color: red;

    background-size: 100%;
    size: 200%;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.contenedor3 {

    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.fondo1 {
    color: blue;
    background-image: url(imagenes/c224ae73a81a2a2a65dfbce1102dd72a.jpg);
    background-size: 100%;
}

.fondo2 {

    color: aquamarine;
    background-image: url(imagenes/1205205.jpg);

}

.fondo3 {
    color: red;

    background-image: url(imagenes/894383-Napoleon-Bonaparte-Napoleonic-wars-war.jpg);
    background-position: center;

}